:root {
	font-family: "JetBrains Mono", monospace;

	color: white;
	background-color: #151417;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}